:root {
    --blue-white: #F5F9FF;
    --sky-blue: #adc6ff;
    --shadow-blue: #6f7caa;
    --blurple: #4849E8;
    --highlighter: #ddf344;
    --header-height: 80px;
    --footer-height: 220px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Actor", "Patrick Hand", "Momo Trust Display", "Poltawski Nowy", sans-serif;
}
body{
    background: var(--blue-white);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
html, body{
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
main {
    flex: 1;
    padding-top: var(--header-height, 80px);
    padding-bottom: var(--footer-height, 220px);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 30px;
    background: var(--blurple);
    color: var(--blue-white);
    box-sizing: border-box;
    z-index: 20;
}
header .logo img{
    width: 130px;
    height: auto;
    object-fit: contain;
    margin-left: 20px;
}
.navbar{
    margin-right: 30px;
    display: flex;
    gap: 30px;
}
.navbar a{
    text-decoration: none;
    color: var(--blue-white);
    font-size: x-large;
}
.navbar a:hover{
    color: var(--highlighter);
    transition: color 0.5s;
}
footer{
    padding: 0;
    margin: 0;
    width: 100%;
    color: var(--blue-white);
    background: var(--blurple);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    z-index: 10; 
}
.footer-container{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px 0 0 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 200px;
}
.logo-cont img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-bottom: 30px;
}
.column{
    display: flex;
    flex-direction: column;
    flex: 1 1 150px;
    min-width: 150px;
    gap: 15px;
    
}
.column h3{
    margin-bottom: 15px;
    color: var(--highlighter);
}
.lists{
    list-style: none;
}
.lists li{
    margin-bottom: 10px;
}
.lists a{
    color: var(--blue-white);
    text-decoration: none;
}
.lists a:hover{
    color: var(--highlighter);
    transition: color 0.5s;
}
.socials i{
    margin-right: 20px;
    font-size: 23px;
}
.socials a{
    color: var(--blue-white);
}
.socials a:hover{
    color: var(--highlighter);
    transition: color 0.5s;
}
footer hr{
    border-top: 2px solid var(--blue-white);
    margin: 0;
}
footer p{
    text-align: center;
    margin: 0;
    padding: 10px 0 10px 0;
}
